html, body {

    width: 100%;
    height: 100%;

    display: flex;
    justify-content : center;
    align-items: center;

    background-color: #BDE0FE;

}

#platforms_menu { 
    display: none;
} 

#platforms_menu { 
    position: absolute; 
    top: 570px; 
    left: 700px;
} 